@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.encabezado {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: cornflowerblue;
    padding-inline: 3rem;
    padding-block: 1.2rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.link-encabezado {
    font-family: "Inclusive Sans", sans-serif;
    text-decoration: none;
    padding: 1rem;
    border-radius: 20px;
    background-color: azure;
    color: black;
    transition: 0.5s;
}

.link-encabezado:hover {
    transform: scale(1.1);
}

a:visited {
    color: black;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    height: 80vh;
    font-family: "Inclusive Sans", sans-serif;
    text-align: center;
}

.titulo-principal {
    font-size: 2.5rem;
}

.texto-principal {
    font-size: 1.1rem;
    padding-inline: 4rem;
}